# copy cert from caddy:/data/caddy/pki/authorities/local/root.crt to pc and install under "Trusted Root Certification Authorities"

{
    local_certs
}

glances.acacia {
    reverse_proxy <PI_IP>:61208
}

adguardhome.acacia {
    reverse_proxy <PI_IP>:8080
}

uptimekuma.acacia {
    reverse_proxy <PI_IP>:3001
}

code.acacia {
    reverse_proxy <VM_IP>:8443
}

grafana.acacia {
    reverse_proxy <VM_IP>:3000
}

portainer.acacia {
    reverse_proxy <VM_IP>:9000
}